<form class="form-signin">
    <h1 class="mb-3 font-weight-bold color-purple">login</h1>
    <div ng-if="errorMessage" class="alert-danger">{{errorMessage}}</div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="email" [(ngModel)]="model.email" name="email" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block bg-purple" type="submit">Log in</button>
    <hr />
    <p>New to skittr? <a href="/register">Sign up now</a></p>
</form>
