<form class="form-signin">
    <h1 class="mb-3 font-weight-bold color-purple">register</h1>
    <div ng-if="errorMessage" class="alert-danger">{{errorMessage}}</div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="username" [(ngModel)]="model.username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>
    <button class="btn btn-lg btn-primary btn-block bg-purple" type="submit">Register</button>
    <hr />
    <p>Already registered? <a href="/login">Log in now</a></p>
</form>
